<section class="m-2 lg:m-8">
  <div class="mermaid">
    graph TD 
    B[(Tempo)]--> BA[Contratti Attivi Conclusi] --> BB[Date Ripetute scadenze]
    

    B-->BF[Impegni date]--> BB
        B-->BD[Slot settimana] --> BE[Obiettivo] --> AD[Attività singole o Ripetute]--> AE[Processi] 
    A[(Attenzione)] --> AB[Imprese] --> AC[Progetti Nuovi Fix Update Attivi End] --> AD

    A --> AAB[Todo]-->  CA
    AAB --> BF
    A --> AF[Post]
    A-->BD
    AE--> AAB[Todo] 
  
    AC --> BD
    
   
  

   
  
    C[Gruppi]-->CA[Contatti]
    
  
    CA-->CB[Abilità]
    
    L[Luoghi]
    D[Mappe]
  </div>
  <!-- Include the Mermaid JavaScript -->
  <!-- Initialize Mermaid -->
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  <% if params[:mermaid].nil? %>
    <script>
      // Funzione per ricaricare la pagina e reindirizzare a "/docs?mermaid=redirect"
      function reloadAndRedirect() {
        // Ricarica la pagina
        location.reload();

        // Reindirizza a "/docs?mermaid=redirect"
        window.location.replace("/docs?mermaid=redirect");
      }

      // Richiama la funzione all'avvio della pagina
      reloadAndRedirect();
    </script>
  <% end %>
</section>