<section class="m-2 lg:m-8">
<div class="overflow-x-auto ">
  <div class="mermaid mx-auto" style="width:600px;">
    graph TD 
    B[(Tempo)]--> BA[8 Contratti] --> BF
    B-->BBC[13 Calendaerio] 
    A-->AD
    BE-->AE
    B-->AD
    B-->BF([- Dataevent scadenze])
    BF-->BBC
    B-->BD[[- Settimana dataevent]] --> BE[7 Obiettivo] --> AD[0 Attività] --> AE[1 Processi] 
    BD-->AD
    
    
    A[(Attenzione)] --> AB[10 Imprese] --> AC[11 Progetti] --> AD
    AC--> BE
    A --> AAB[6 Todo]-->  CA
    AAB --> BF
    A --> AF[5 Post]
    A-->BD
    AE--> AAB
  
    AC --> BD
    
    
  
    C[12 Gruppi]-->CA[2 Contatti]-->CB[3 Abilità]
    
    L[4 Luoghi]
    D[9 Mappe]
  </div>
  <br><br>
  <div class="mermaid mx-auto" style="width:800px;">
    graph TD 
    A--> B[0 Gruppi]-->BA[1 Contatti]-->BC[2 Abilità]

    A[(Attenzione)] --> AB[3 Imprese] --> AC[4 Progetti] --> AD[[ Settimana dataevent]] -->  AF[5 Attività] --> AG[6 Processi] --> AH[7 Todo]-->AI([- Dataevent scadenze])--> AL[ Calendario tramite content a cui è riferita dataevent]
    
    
    A-->C[8 Post] -->  CA[9 Contratti] --> CB[10 Calendario] --> CC[11 Evento] --> CD[12 Luogo]

    F[(Tempo)]-->AL
    AD --> AG
    AC --> CA
    click AB href "dashboard/imprese" "This is a tooltip for a link"
  </div>
  </div>
  <!-- Include the Mermaid JavaScript -->
  <!-- Initialize Mermaid -->
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  <% if params[:mermaid].nil? %>
    <script>
      // Funzione per ricaricare la pagina e reindirizzare a "/docs?mermaid=redirect"
      function reloadAndRedirect() {
        // Ricarica la pagina
        location.reload();

        // Reindirizza a "/docs?mermaid=redirect"
        window.location.replace("/docs?mermaid=redirect");
      }

      // Richiama la funzione all'avvio della pagina
      reloadAndRedirect();
    </script>
  <% end %>
</section>