<section class="m-2 lg:m-8">
  <div class="mermaid">
    graph TD 
    B[(Tempo)]--> BA[8 Contratti Attivi Conclusi] --> BF
    

    B-->BF[14 Date impegni scadenze]--> BB[Ripetizione ]
        B-->BD[12 Settimana] --> BE[7 Obiettivo] --> AD[0 Attività singole o Ripetute]--> AE[1 Processi] 
    A[(Attenzione)] --> AB[11 Imprese] --> AC[13 Progetti Nuovi Fix Update Attivi End] --> AD

    A --> AAB[6 Todo]-->  CA
    AAB --> BF
    A --> AF[5 Post]
    A-->BD
    AE--> AAB
  
    AC --> BD
    
   
  

   
  
    C[10 Gruppi]-->CA[2 Contatti]
    
  
    CA-->CB[3 Abilità]
    
    L[4 Luoghi]
    D[9 Mappe]
  </div>
  <!-- Include the Mermaid JavaScript -->
  <!-- Initialize Mermaid -->
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  <% if params[:mermaid].nil? %>
    <script>
      // Funzione per ricaricare la pagina e reindirizzare a "/docs?mermaid=redirect"
      function reloadAndRedirect() {
        // Ricarica la pagina
        location.reload();

        // Reindirizza a "/docs?mermaid=redirect"
        window.location.replace("/docs?mermaid=redirect");
      }

      // Richiama la funzione all'avvio della pagina
      reloadAndRedirect();
    </script>
  <% end %>
</section>