<section class="m-2 lg:m-8">
<div class="overflow-x-auto ">

 
  <div class="mermaid mx-auto" style="width:800px;">
    graph TD 
   
    A-->C[0 Evento]  -->  CD[1 Luogo] --> CE([Data])-->CF([Ripetizione])
    A[(Attenzione)] --> AB[2 Imprese] --> AC[3 Progetto contratto calendario] -->   AF[4 Attività] -->  AH[5 Task ] --> AI[6 post]
     A--> B[7 Gruppi]-->BA[8 Contatti]-->BC[9 Abilità]--> BD[10 Prodotti]
    
    
       

    
    
    click AB href "dashboard/imprese" "This is a tooltip for a link"
  </div>
  </div>
  <!-- Include the Mermaid JavaScript -->
  <!-- Initialize Mermaid -->
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
  <% if params[:mermaid].nil? %>
    <script>
      // Funzione per ricaricare la pagina e reindirizzare a "/docs?mermaid=redirect"
      function reloadAndRedirect() {
        // Ricarica la pagina
        location.reload();

        // Reindirizza a "/docs?mermaid=redirect"
        window.location.replace("/docs?mermaid=redirect");
      }

      // Richiama la funzione all'avvio della pagina
      reloadAndRedirect();
    </script>
  <% end %>
<div class="max-w-2xl mx-auto">
  <b>Data - Partecipazione</b>
  <br>
    inizio fine content_id: user_id  luogo_content_id gmaps_link num_partecipanti: seriale:
    <br>data:boolean data_id: valore_euro valore_dash
    <br>admin_u_id resp_luogo_u_id  
    <br><b>positivi</b> - organizzatore_u_id conduttore_u_id entrate
    <br><b>negativi</b> - partecipazione_u_id partec_contat_content_id: uscite
  <table>
    <tbody>
      <tr>
          <td class="border-2 border-black p-4">
            <table>
              <tbody>
                <tr>
                    <td class="border-2 border-black p-4"> Data p-1</td>
                
                  
                </tr>
                <tr>
                    <td class="border-2 border-black p-4"> Data p-4 seriale
                     
                    </td>
                     <tr>
                            <td class="border-2 border-black p-4">Ticket_1 negativo</td>
                           
                          </tr>
                           <tr>
                            <td class="border-2 border-black p-4">Ticket_1 negativo</td>
                           
                          </tr>
                </tr>
                <tr>
                    <td class="border-2 border-black p-4">Data p-5 parallelo</td>
                    <td class="border-2 border-black p-4">Ticket 1 - posit</td>
                    <td class="border-2 border-black p-4">Ticket 1 - negativo</td>
                    <td class="border-2 border-black p-4">Ticket 1</td>
                                    
                  
                </tr>
              
              </tbody>
            </table>
          </td>
      
          
      </tr>
    
    </tbody>
  </table>
  </div>
<div class="max-w-xl mx-auto">
 <b>Progetto</b>
<table>
    <tbody>
      <tr>
        <td class="border-2 border-black p-4">
        <table>
    <tbody>
      <tr>
        <td class="border-2 border-black p-4">
        <ul> 
        <li> Task</li>
        <li> Task</li>
        <li> Task</li>
        <li> Task</li>
        <li> Task</li>
        </ul>
         </td>
      
      <td>attività (a ripetizione o una tantum)</td>
      </tr>
    </tbody>
  </table>
        
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <!-- calendario inizio ---->
  <style>
        .border-1 {
            border-width: 1px;
        }
    </style>
    <b>Prodotti</b>
    <ul>
    <li>Entrata </li>
    <li>Uscita</li>
    <li>Prenotazioni</li>
    <li></li></ul>
     <b>Settimana - data</b>
    <div class="grid grid-cols-7 mt-8 mx-auto  overflow-x-auto" style="height:700px; width:1200px;">
        <div class="border-l-2 border-r-2 border-black text-center">
            <div style="height:25px;">
              Lunedì
            </div>
            <div class="w-full p-2 bg-gray-400 border border-gray-200 rounded-lg shadow " style="margin-top: 230px; px; height: 80px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              15:00 - 16:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Professionisti</p>
          </div>
            <div class="w-full p-2 bg-blue-400 border border-gray-200 rounded-lg shadow " style="height: 180px;">
              <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
                16:00 - 19:30
              </h5>
              <p class="text-sm font-normal text-gray-800 ">Appuntamenti singoli</p>
            </div>
            <div class="w-full p-2 bg-red-200 border border-gray-200 rounded-lg shadow" style="margin-top: 30px; height: 60px;">
              <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              20:00 - 20:30
              </h5>
              <p class="text-sm font-normal text-gray-800 ">Musica Strumenti</p>
            </div>
            <div class="w-full p-2 bg-red-200 border border-gray-200 rounded-lg shadow" style="height: 90px;">
              <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white" >
              20:30 - 22:00
              </h5>
              <p class="text-sm font-normal text-gray-800 ">Coro canti folcloristici Viadana</p>

            </div>
        </div>
        <div class="border-r-2 border-black text-center">
          <div style="height:25px;">
            Martedì 
          </div>
          <div class="w-full p-2 bg-gray-400 border border-gray-200 rounded-lg shadow " style="margin-top: 5px; height: 80px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              8:30 - 11:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Professionisti</p>
          </div>
          <div class="w-full p-2 bg-blue-400 border border-gray-200 rounded-lg shadow " style="margin-top: 15px; height: 150px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              11:30 - 15:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Appuntamenti singoli</p>
          </div>
          <div class="w-full p-2 bg-blue-200 border border-gray-200 rounded-lg shadow " style=" height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              15:00 - 16:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Gruppo Postura</p>
          </div>
          <div class="w-full p-2 bg-blue-400 border border-gray-200 rounded-lg shadow " style="height: 140px;">
              <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
                16:00 - 18:30
              </h5>
              <p class="text-sm font-normal text-gray-800 ">Appuntamenti singoli</p>
            </div>
          <div class="w-full p-2 bg-blue-200 border border-gray-200 rounded-lg shadow " style="margin-top: 25px;height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              19:00 - 19:45
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Gruppo Postura</p>
          </div>
          <div class="w-full p-2 bg-blue-300 border border-gray-200 rounded-lg shadow " style="height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              19:45 - 20:15
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Benessere Integrato</p>
          </div>
          <div class="w-full p-2 bg-red-300 border border-gray-200 rounded-lg shadow " style="height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              20:15 - 21:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Giardino del corpo</p>
          </div>
        </div>
        <div class="border-r-2 border-black text-center">
           <div style="height:25px;">
            Mercoledì
          </div>
           <div class="w-full p-2 bg-gray-400 border border-gray-200 rounded-lg shadow " style="margin-top: 5px; height: 80px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              8:30 - 11:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Professionisti</p>
          </div>
        </div>
        <div class="border-r-2 border-black text-center">
           <div style="height:25px;">
            Giovedì
          </div>
          <div class="w-full p-2 bg-yellow-200 border border-gray-200 rounded-lg shadow " style="margin-top: 220px; height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              14:30 - 15:15 
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Rails 4 Business</p>
          </div>
          <div class="w-full p-2 bg-green-200 border border-gray-200 rounded-lg shadow " style="margin-top: 10px; height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              16:00 - 16:45
            </h5>
            <p class="text-sm font-normal text-gray-800 ">1impegno</p>
          </div>
          <div class="w-full p-2 bg-red-400 border border-gray-200 rounded-lg shadow " style="margin-top: 10px;height: 280px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              17:30 - 22:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Parco Nocivelli</p>
          </div>
          
        </div>
        <div class="border-r-2 border-black text-center">
          <div style="height:25px;">  
            Venerdì
          </div>
           <div class="w-full p-2 bg-gray-400 border border-gray-200 rounded-lg shadow " style="margin-top: 5px; height: 80px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              8:30 - 11:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Professionisti</p>
          </div>
          <div class="w-full p-2 bg-blue-400 border border-gray-200 rounded-lg shadow " style="margin-top: 15px; height: 150px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              11:30 - 15:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Appuntamenti singoli</p>
          </div>
          <div class="w-full p-2 bg-purple-200 border border-gray-200 rounded-lg shadow " style=" height: 60px;">
            <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
              15:00 - 16:00
            </h5>
            <p class="text-sm font-normal text-gray-800 ">Video PosturaCorretta</p>
          </div>
           <div class="w-full p-2 bg-blue-400 border border-gray-200 rounded-lg shadow " style="height: 180px;">
              <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
                16:00 - 19:30
              </h5>
              <p class="text-sm font-normal text-gray-800 ">Appuntamenti singoli</p>
            </div>
        </div>
        <div class="border-r-2 border-black text-center">
           <div style="height:25px;">
            Sabato
          </div>
           <div class="w-full p-2 bg-gray-400 border border-gray-200 rounded-lg shadow " style="margin-top: 250px; height: 180px;">
              <h5 class="text-base font-semibold text-gray-900 md:text-md dark:text-white">
                15:00 - 18:00
              </h5>
              <p class="text-sm font-normal text-gray-800 ">Appuntamenti singoli</p>
            </div>
        </div>
        <div class="border-r-2 border-black text-center">
          <div style="height:25px;">  
            Domenica
           </div> 
        </div>
    </div>
    <br><br>

<div class="m-4 md:m-16 ">
    <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400   ">
      <li>Lavoro in solitaria programmare - pensare - contenuti - riflettere leggere - connessione - fare il punto situazione</li>
      <li>Video Youtube Registrare - Video Maker</li>
      <li>Contenuti instagram - sulle 3 attività - salute - progetti - eventi</li>
      <li>Riccardo Diago Incontro progetti e Programmatori Rails 4 B.</li>
      <li>Palestra Lavori all'aperto camminate mestieri antichi Orto</li>
      <li>Coro canti popolari</li>
      <li>Musica strumento Fisa o chitarra</li>
      <li> (preparare schema e tema)Gruppo martedì pomeriggio ore 15:00 Postura BenessereIntegrato</li>
      <li> Gruppo martedì sera ore 19:00 Postura BenessereIntegrato </li>
      <li> Gruppo martedì sera ore 20:00 Giardino del corpo - eventi - meditazione lavoro</li>
      <li>Vendita dei percorsi contatto professionisti</li>
      <li>Gruppi igiene posturale itineranti</li>
      <li>Parco nocivelli</li>
      <li>Valvestino Droane Giancarlo Montagna</li>
      <li>Verona Studio</li>
      <li>Gambara Palestra</li>
      <li>Papa Idea Fare su Montichiari week o un settimanale sulla postura - Giornale di  Brescia o brescia Oggi</li>



    </ol>
    <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400   ">
      <li>PosturaCorretta Piattaforma Vai tipo accademia e vari servizi. Mettere un login user - gli step( teoria pratica scheda video) - (programma corso)- luogo (centro nome indirizzo attivo prezzo responsabile) - e dataevento step_id corso_id(autonomia gruppo professionista) insegnante prescrittore luogo  </li>
      <li>Fai la proposal dash Come fanno alla festa di s. Gius. Prendi gli euro e gli dai i dash e loro ti danno i dash. 
      Crea un app per facilitare questo scambio e per aiutare le persone a spendere i dash e a guadagnarli. fai la proposal a
      </li>
      <li>Rifai il calendario della settimana - contatti - 1impegno.it</li>
      <li>Marte mattina Nocivelli 2 eventi (vedi per bni)</li>
      <li>Marte e giove pomeriggio dalle 16:00 alle 17:00 gruppo anche con i domiciliari + cantata </li>
      <li>Mercole sera shiatsu a Brescia Igiene posturale</li>
      <li>Lune Mercole e giove mattina Gaver per ritiro solitario business e ricarica (o giancarlo droane / vaghezza commercialista).</li>
      <li>Vedi orari per i pazienti.</li>
      <li>30 giugno tasse</li>
      <li>Gruppo benessere Integrato marte sera</li>
      <li>Corso percezione e musica mario Finazzi</li>
      <li>Assicurazione fisioterapia aon </li>
      <li>Eventi in natura il gdc 30 giugno</li>
     
      <li>Fisarmonica</li>
      <li>coro lune sera</li>
      <li>pazienti individuali calvisano lune pome /sera - marte 5 - 7 - giove 5 - 9 - venere pausa pranzo pomeriggio - sabato pausa pranzo pomeriggio 
      </li>



   
    </div>
    <!-- calendario fine--->

</section>

